<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiosity</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <h1>Curiosity halla posible razón por la que no existen signos de vida en Marte</h1>
    <h2>Sin embargo, la NASA no desiste en su intento por descubrir huellas biológicas en Marte.</h2>
    <img src="https://www.infobae.com/new-resizer/xw9eWj0xnxDzbrNLZAyzsjOcjr0=/768x432/filters:format(jpg):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/QTB4FL64DJDEBDTMHC7IKVF5BA.jpg" alt="">
    <p>Desde que el ser humano inició los viajes al espacio, Marte se convirtió en uno de los destinos más deseados, no solo por ser el planeta más cercano a la Tierra, sino por la incertidumbre que causa su color rojo oxidado y si pudo o no haber existido vida en un terreno tan desértico como ese.</p>
    <a href="/potreroDigital_ejercicio1.a_ramos_marcela.html">Inicio</a>
</body>
</html>